.bg-register{
    background: url(../../assets/images/gaming.ebaf2ffc84f4451d.jpg);
    background-size: 100% 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.login{
    background-color: #32383e;
}
.btn-login{
    color: #fff;
    background-color: #3a3f44;
    border-color: #22241d;
}
form::after{
    content: "";
    position: absolute;
    width: 98%;
    height: 1px;
    top:98%;
    left:1%;
    background-color: rgb(110, 110, 110);
}
.small{
    font-size: 12px;
}