<div class="container p-lg-5">
    <div class="row pt-5 mt-3 mx-5">
        <div class="col-lg-6 d-none d-lg-block bg-register pt-5">
        </div>
        <div class="col-lg-6 login">
            <div class="header text-center mt-3">
                <img alt="logo" src="../../assets/images/logo (3).png" height="72" class="mb-3">
                <h1 class="fs-5 text-muted">Login</h1>

            </div>
            <div class="errorfromBE d-flex justify-content-center">
                <div *ngIf="errorFromLogin" class="alert alert-danger text-center w-75"> {{errorFromLogin}}</div>
    
        </div>
        <form [formGroup]="loginForm" class="w-75 mx-auto position-relative" (ngSubmit)="loginUser(loginForm)">
         
    
            <div class="form-group mb-3 ">
                <label for="email" class="text-muted"> E-mail </label>
                <input type="email"  class="form-control mb-1" placeholder="Enter Your Email" id="email" formControlName="email">
                <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger p-2 d-flex flex-row justify-content-between">
                    <p *ngIf="loginForm.get('email')?.getError('required') && loginForm.get('email')?.touched" class="mb-0 small">This field is required</p>
                    <p *ngIf="loginForm.get('email')?.getError('email') && loginForm.get('email')?.touched" class="mb-0 small">Email is not valid</p>
                    <img src="./assets/images/wrong.svg" width="2%" alt="">
    
                </div>
                <div class="alert alert-success p-2 d-flex flex-row justify-content-between" *ngIf="!loginForm.get('email')?.errors && loginForm.get('email')?.touched">
                    <p class="m-0 small">Success</p>
                    <img src="./assets/images/right.svg" width="2%" alt="">
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="password"  class="text-muted"> Password </label>
                <input type="password"   class="form-control mb-1" placeholder="Enter Password" id="password" formControlName="password">
                <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger p-2 d-flex flex-row justify-content-between">
                    <p *ngIf="loginForm.get('password')?.getError('required')" class="mb-0 small">This field is required</p>
                    <p *ngIf="loginForm.get('password')?.getError('pattern')" class="mb-0 small">Invalid Password</p>
                    <img src="./assets/images/wrong.svg" width="2%" alt="">
    
                </div>
                <div class="alert alert-success p-2 d-flex flex-row justify-content-between" *ngIf="!loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                    <p class="m-0 small">Success</p>
                    <img src="./assets/images/right.svg" width="2%" alt="">
                </div>
            </div>
            <button type="submit"  class="btn btn-login w-100 mb-3"> 
                <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading" class="small"> Login </span>
             </button>
    
        </form>
        <div class="form-footer text-center">
            <a (click)="forgetPassword()" class="pointer text-decoration-none small">Forgot Password?</a>
        </div>
        
        </div>
    </div>

</div>