
.details{
    .overlay{
    
        background: rgba(0, 0, 0, 0.8);
        min-height: 100vh;
        .show-less {
            height: 5.1rem;
            overflow: hidden;
        }
        .title{
            font-family: 'Merienda' !important;
    
        }
        a{
            color:#aaa
        }
        .play, .more{
            font-size: 13px !important;
            background-color: #2980b9;
            border: none;
        }
        .more{
            font-size: 12px;
        }
       
    
    }
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #aaa !important;
    min-height: 100vh;
    
   
}



