
<div  style="background-image:url('{{game.thumbnail}}')" class="mb-2 pb-0 h-auto details">
    <div class="overlay h-100 mb-0 ">
         <div class="container my-5" >
    <div class="row mt-5">
        <div class="col-md-4 mt-2">
            <div class="game-img">
                <img  *ngIf="game.thumbnail" [alt]="game.title" [src]="game.thumbnail" class="mt-5 w-100 rounded">
                <img alt="" *ngIf="!game.thumbnail" [alt]="game.title" src="./assets/images/image-not-found-grayscale-photo-260nw-1737334631.webp" class="w-100 mt-0 rounded-top" />

            </div>
            <div class="row mt-3 w-100 mx-0 px-0">
                <div class="col-3 mx-0 px-0 py-0">
                    <div class="text-white bg-dark mt-0 text-center rounded py-2 pointer">
                       Free
                    </div>
                </div>
                <div class="col-9 mx-0 px-2">
                    <a target="_blank" [href]="game.game_url" class="btn play btn-info py-2 w-100 text-white fw-bolder"> 
                        Play Now <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>

            </div>


        </div>
        <div class="col-md-8 mt-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-5">
                  <li class="breadcrumb-item"><a routerLink="/home" class="text-decoration-none small" >Home</a></li>
                  <li class="breadcrumb-item"><a (click)="getCat('game.genre')" class="small text-decoration-none pointer">{{y}}</a></li>
                  <li class="breadcrumb-item small "> {{game.title}} </li>
                </ol>
              </nav>
            <h1 class="mt-3 title fs-1">{{game.title}}</h1>
            <h5 class="title fs-5">About {{game.title}}</h5>
            <p class="mx-3" [ngClass]="{'show-less': showShortDesciption}" >{{game.description}}</p>
            <button type="button" class="bg-transparent text-white border-0 px-0 small mt-2 mb-3" (click)="alterDescriptionText()">
                {{ showShortDesciption ? 'Read More': 'Read Less' }}
              </button>
              <div *ngIf="game.minimum_system_requirements && game.minimum_system_requirements.graphics && game.minimum_system_requirements.memory  && game.minimum_system_requirements.os && game.minimum_system_requirements.processor && game.minimum_system_requirements.storage " class="system-req mt-0">
                 <p>
                    <a class="btn ms-0 btn-outline-secondary ps-1 fs-5" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">System Requirements : </a>

                  </p>
                  
                      <div class="collapse multi-collapse my-0 py-0" id="multiCollapseExample1">
                        <div class="card card-body bg-transparent my-0 py-0 border-0">
                            <div class="d-flex justify-content-between flex-wrap my-0 pt-0">
                                <p *ngIf="game.minimum_system_requirements.graphics" class="small d-inline-block mx-4"><span class="text-white">Graphics : </span> {{game.minimum_system_requirements.graphics}} </p>
                                <p *ngIf="game.minimum_system_requirements.memory" class="small d-inline-block mx-4"><span class="text-white">Memory : </span> {{game.minimum_system_requirements.memory}} </p>
                                <p *ngIf="game.minimum_system_requirements.os" class="small d-inline-block mx-4"><span class="text-white">OS : </span> {{game.minimum_system_requirements.os}} </p>
                                <p *ngIf="game.minimum_system_requirements.processor" class="small d-inline-block mx-4"><span class="text-white">Processor  : </span> {{game.minimum_system_requirements.processor}} </p>
                                <p *ngIf="game.minimum_system_requirements.storage" class="small d-inline-block mx-4"><span class="text-white">Storage  : </span> {{game.minimum_system_requirements.storage}} </p>
            
                              </div>
                    
                    </div>
             
              </div>
             
              
             
        </div>
        <div class="Additional-Info mt-0">
            <p>
               <a class="btn ms-0 btn-outline-secondary ps-1 fs-5" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3">Addition Information : </a>

             </p>
             
                 <div class="collapse multi-collapse my-0 py-0 " id="multiCollapseExample3">
                   <div class="card card-body bg-transparent my-0 py-0 border-0">
                       <div class="d-flex justify-content-start flex-wrap my-0 pt-0 text-start">
                           <p class="small d-inline-block mx-3"><span class="text-white">Title : </span> {{game.title}} </p>
                           <p class="small d-inline-block mx-3"><span class="text-white">Developer : </span> {{game.developer}} </p>
                           <p class="small d-inline-block mx-3"><span class="text-white">Publisher: </span> {{game.publisher}} </p>
                           <p class="small d-inline-block mx-3 text-start"><span class="text-white">Release Date : </span> {{game.release_date}} </p>
                           <p class="small d-inline-block mx-3"><span class="text-white">Genre  : </span> {{game.genre}} </p>
                           <p class="small d-inline-block mx-3"><span class="text-white">Platform  : </span> <i *ngIf="game.platform==('Windows')" class="fab fa-windows  mx-2 mt-2 mb-2"></i> <i *ngIf="game.platform==('Web Browser')" class="fa-brands fa-chrome  mx-2 mt-2 mb-2"> </i>{{game.platform}} </p>

       
                         </div>
               
               </div>
        
         </div>
        
         
        
   </div>
        <div *ngIf="game.screenshots" class="screenshoots my-2">
            <p>
                <a class="btn ms-0 btn-outline-secondary ps-1 fs-5" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample2">{{game.title}} Screenshots:</a>

              </p>                <div class="collapse multi-collapse mt-0 py-0" id="multiCollapseExample2">
                <div class="card card-body bg-transparent mt-0 pt-0 border-0">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1500" data-bs-keyboard="true" data-bs-touch="true" data-bs-pause="hover">
                <div class="carousel-inner ms-0">
                  <div class=""  >
                    <img  [src]="image.image" class="w-100 rounded-2 mt-3 carousel-item active" *ngFor="let image of game.screenshots" alt="game.title">
                  </div>
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              </div>
              </div>

       
         </div>
         

    </div>

    </div>
    </div>

   
</div>