.home-header{
    background-image: url(../../assets/images/paladins.png);
    background-repeat: no-repeat;
    background-color: #1c1e22;
    background-position: center center;
    background-size:cover;
    border-radius: .3rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0,0,0,.6);
    padding: 4rem 2rem;
    
}

.game-card{
    background-color: #32383e;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.6);
    border-radius: .25rem;
    transition: transform .5s;
    &:hover{
        transform: scale(1.07);
    }

}